<body class="index-body">
    <div id="banner">
      <div class="banner_content">
        <h1>Noted</h1>
        <p>We all forget ideas. Now you dont have to.</p>
        <button>
          <%= link_to "Get Started", new_user_registration_path, class: "welcome-button" %>
        </button>
      </div>
    </div>

    <footer>
        <p>Copywrite 2017 Shawn Pitts. All Rights Reserved</p>
    </footer>
</body>
