.index-body{
	background: url("nature.jpg")fixed no-repeat center;
	height: 100%;
	margin:0%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

#banner {
	padding-top: 125px;
	text-align: center;
	width: 100%;
	.banner_content {
		h1 {
			font-family: "Reenie Beanie";
			font-size: 6rem;
			margin: 0;
			color: white;
		}
		p {
			font-size: 1.75rem;
			margin: 0 0 2.5rem 0;
			color: $light_gray;
			letter-spacing: 3px;
			font-family: "Dosis";
		}
	}
}

footer{
	padding-top: 100px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	font-family: "Reenie Beanie";
	background-color: none;
	color: $light_gray;
	text-align: center;
}
